[Unit]
Description=FIC cpu/motherboard/memory info collector

[Service]
ExecStart=/opt/fic/bin/fic-dick "cpu_board_memory"
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
